body {
  margin: 0;
}

.main {
  display: flex;
  justify-content: center;
}

.timer {
  display: flex;
  justify-content: center;
  padding-top: 25px;
  background-color: rgb(134, 133, 133);
  color: white;
  height: 75px;
  font-size: 2.5em;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

#start {
  position: absolute;
  top: 25px;
  height: 50px;
  width: 250px;
  color: white;
  background-color: rgb(241, 182, 33);
  font-size: 2.5em;
  border: none;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
